app-header {
    position: fixed;
    top: 0;
    transition: left 0.3s, width 0.3s;
    z-index: 1000;
    &.header-expanded {
        left: 80px;
        width: calc(100% - 80px);
    }
    &.header-collapsed {
        left: 250px;
        width: calc(100% - 250px);
    }
}

.content {
    margin-top: 56px;
    margin-left: 250px;
    transition: margin-left 0.3s;
    &.content-expanded {
        margin-left: 80px;
    }
}