.logo {
    background-color: #00bcd4;
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    .logo-full {
        color: #ffffff;
        font-size: 14px;
        text-decoration: none;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .logo-abbr {
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

.sidebar {
    width: 250px;
    position: fixed;
    top: 56px;
    left: 0;
    height: calc(100% - 56px);
    z-index: 1000;
    background: #f8f9fa;
    color: #343a40;
    transition: width 0.3s;
    overflow-x: hidden;
    &.closed {
        width: 80px;
        .icon {
            font-size: 2rem;
            margin: auto;
        }
        a {
            justify-content: center;
        }
    }
    ul {
        padding: 0;
        list-style: none;
        .menu-heading {
            padding: 10px 15px;
            color: #adb5bd;
            text-transform: uppercase;
            font-size: 12px;
        }
        li {
            a {
                display: flex;
                align-items: center;
                padding: 15px 20px;
                color: #343a40;
                text-decoration: none;
                .icon {
                    margin-right: 10px;
                    font-size: 1rem;
                }
                &:hover {
                    background: #e9ecef;
                    color: #0056b3;
                }
            }
            .active {
                background-color: #e9ecef;
                color: #0056b3;
            }
        }
    }
}